#
#    __                          __
#   / /____ ___ ____  ___  ___ _/ /       This file is provided to you by https://github.com/tegonal/PROJECT_NAME
#  / __/ -_) _ `/ _ \/ _ \/ _ `/ /        Copyright YEAR Tegonal Genossenschaft <info@tegonal.com>
#  \__/\__/\_, /\___/_//_/\_,_/_/         It is licensed under Creative Commons Zero v1.0 Universal
#         /___/                           Please report bugs and contribute back your improvements
#
#                                         Version: v0.1.0-SNAPSHOT
###################################
name: Quality Assurance
on: [ push, pull_request ]

jobs:
  QA_Bash_Scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install shellcheck v0.9.0
        run: ./lib/tegonal-scripts/src/ci/install-shellcheck.sh
      - name: run before-pr
        run: ./scripts/before-pr.sh
